{% set ID = objects.ID %}

<label>{{ objects.caption }}</label>
</br>
<select name="dropdown_{{ ID }}">
    {% for option in objectSQL[ID] %}
        <option value="{{ option }}">{{ option }}</option>
    {% endfor %}

</select>

