<div class="modal fade" id="forgotPasswordModal" role="dialog">

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Forgot Password</h4>
            </div>

            <div class="modal-body" style="padding:20px 50px 20px 50px;">

                <form role="form" method="post" id="forgotPasswordForm" data-toggle="validator" autocomplete="on">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="text" class="form-control" id="email" name="email"
                               placeholder="Enter email address" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <button type="submit" id="forgotPasswordFormSubmit" class="btn btn-success btn-block">Reset
                        Password
                    </button>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#loginModal"
                        data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left"></span> Back
                </button>

            </div>
        </div>

    </div>
</div>

<script> // RESET PASSWORD SUBMISSION
    // Attach a submit handler to the form
    //    $("#forgotPasswordForm").submit(function (event) {
    $('#forgotPasswordForm').validator().submit(function (event) {
        if (event.isDefaultPrevented()) {
            console.log('Validation error');
        } else {

            // Stop form from submitting normally
            event.preventDefault();

            $('#forgotPasswordFormSubmit').prop('disabled', true).text("Working...");

            // Send the data using post
            var posting = $.post("{{ path_for('forgotPassword') }}", $("#forgotPasswordForm").serialize());

            // Show the results
            posting.done(function (data) {
                console.log(data);

                if (!data.success) {
                    $('#forgotPasswordFormSubmit').prop('disabled', false).text("Reset Password");
                    swal({
                        title: data.msgTitle,
                        text: data.msgBody,
                        type: "warning",
                        showConfirmButton: true
                    });
                } else {
                    swal({
                            title: data.msgTitle,
                            text: data.msgBody,
                            type: "success",
                            showConfirmButton: true
                        },
                        function () {
                            location.reload();
                        });
                }
            });
        }
    });
</script>