<div class="modal fade" id="forgotPasswordModal" role="dialog">

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Forgot Password</h4>
            </div>

            <div class="modal-body" style="padding:20px 50px 20px 50px;">

                <form role="form" method="post" id="forgotPasswordForm" autocomplete="on">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Enter email address" required autofocus d>
                    </div>

                    <button type="submit" id="forgotPasswordFormSubmit" class="btn btn-success btn-block">Reset Password</button>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#loginModal"
                        data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left"></span> Back
                </button>

            </div>
        </div>

    </div>
</div>